<%= div_for(comment, :class => "comments") do %>
    <div class="span2 well">
      <%= link_to "#{comment.title}", post_comment_path(comment.post.id, comment.id) %>
      <% if comment.image? %>
      <%= link_to(image_tag("#{comment.image_url(:thumb)}", :alt => "#{comment.content}"), post_comment_path(comment.post.id, comment.id)) %>
      <% end %>
      <em><%= comment.user.full_name %></em>
    </div>
<% end %>