<h1>Ladies and Gents!</h1>
<br />

<p id="other_titles">Welcome to the future home of Droplet...</p>
<p><em>-or-</em></p>
<p id="other_titles">Butter | Spread the news  or  news spreads</p>
<p><em>-or-</em></p>
<p id="other_titles">Grapevine</p>
<p><em>-or-</em></p>
<p id="other_titles">Newscaf | Your daily dose</p>
<p><em>-or-</em></p>
<p id="other_titles">Make Waves</p>
<p><em>-or-</em></p>
<p id="other_titles">Birdcage | Set your story free</p>
<p><em>-or-</em></p>
<p id="other_titles">Campfire | Tell your story</p>
<p><em>-or-</em></p>
<p id="other_titles">Campfire | Calling all storytellers...</p>
<p><em>-or-</em></p>
<p id="other_titles">synergy, ripple, pulpit, buzzmill, soapbox</p>
