<div class="page-header" class="row">
  <h1>Meditations</h1>
  <%= link_to 'Post a New Article', new_post_path, class: "btn btn-success" %>
</div>
  
<div class="well">
  <% @posts.each do |post| %>
  <div class="article">
    <div class="row">
      <div class="span7">   
        <h5><%= link_to "#{post.title}", post %></h5>
        <p><em><%= post.user.full_name %></em> | <%= time_ago_in_words(post.created_at) + " ago" %></p>
        <hr>
      </div>
    </div>
  </div>
  <% end %>
</div>

<br />