/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  padding-top: 40px;  
  }
  
.alert {
  margin-top: 10px;  
  }

#navbar-opposite .navbar-inner {
  margin-top: -3px;
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #111111, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#111111), to(#222222));
  background-image: -webkit-linear-gradient(top, #111111, #222222);
  background-image: -o-linear-gradient(top, #111111, #222222);
  background-image: linear-gradient(to bottom, #111111, #222222);
  background-repeat: repeat-x;
  border-color: #111111;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff111111', endColorstr='#ff222222', GradientType=0);
}

.bubble {
  float: left;
  text-align: center;
  overflow: hidden;
  height: 120px;
  width: 120px;
  padding: 1em;
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.bubble blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}


/*concentric circle layout grid: classes must be nested within one another.
<circular_4>
  <circular_3>
    <circular_2>
      <circular_1>
      </1>
    </2>
  </3>
</4>*/

/*.circular_4
{
width:500px;
height:500px;
background-color:transparent;
border-radius: 100%;
border: 5px #000 solid;
}

.circular_3
{
width:300px;
height:300px;
background-color:transparent;
border-radius: 100%;
border: 4px #000 solid;
position: relative;
left: 100px;
top: 100px;
}

.circular_2
{
width:200px;
height:200px;
background-color:transparent;
border-radius: 100%;
border: 3px #000 solid;
position: relative;
left: 50px;
top: 50px;
}

.circular_1
{
width:50px;
height:50px;
background-color:transparent;
border-radius: 100%;
border: 2px #000 solid;
position: relative;
left: 75px;
top: 75px;
}*/